<!DOCTYPE html>
<html lang="en" ng-app>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <link href="content\css\style.css" rel="stylesheet" type="text/css" />
    <script src="node_modules\angular\angular.min.js"></script>
</head>
<body ng-init="samurais=['kaname', 'haruka', 'ryu']">
    <input type="text" ng-model="favFruit" placeholder="enter your fav fruit"></input>
    <ul>
        <li ng-repeat="samurai in samurais">{{samurai}}</li>
    </ul>
</body>
</html>